@import "./typed.scss";

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.heroTitle {
  font-size: 3.3rem;
}

.heroSubTitle {
  font-size: 1.8rem;
}

.image {
  max-width: min(85%, 400px);
}

.typed {
  color: blueviolet;
  @include typed(
    "Full Stack Developer",
    "JavaScript pirate",
    "React enthusiast",
    "Java lover",
    "Python tinkerer"
  );
  &::before {
    font-weight: bold;
  }
  &::after {
    border-right-width: 2px;
  }
}

.buttonCv {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: blueviolet;
  color: white;
}

@media (min-width: 768px) {
  .heroContainer {
    height: calc(100vh - 96px * 2);
  }
}

@media (max-width: 768px) {
  .heroContainer {
    grid-template-columns: 1fr;
  }
  .heroTitle {
    font-size: 2.5rem;
  }
  .heroSubTitle {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
