@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #fdfbf7;
$font-color: #303037;
$accent-color: #8a2be2;

body {
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
  color: $font-color;
  margin: 0 10rem;
}

* {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    margin: 0 2rem;
  }
}
